@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/splide.min.css">
	<link rel="stylesheet" href="~/assets/css/slimselect.css">
	<link rel="stylesheet" href="~/assets/css/plyr.css">
	<link rel="stylesheet" href="~/assets/css/photoswipe.css">
	<link rel="stylesheet" href="~/assets/css/default-skin.css">
	<link rel="stylesheet" href="~/assets/css/main.css">

	<!-- Icon font -->
	<link rel="stylesheet" href="~/assets/webfont/tabler-icons.min.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="~/assets/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="~/assets/icon/favicon-32x32.png">

	<meta name="description" content="Online Movies, TV Shows & Cinema HTML Template">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>HotFlix – Online Movies, TV Shows & Cinema HTML Template</title>
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<!-- header logo -->
						<a href="index.html" class="header__logo">
							<img src="~/assets/img/logo.svg" alt="">
						</a>
						<!-- end header logo -->
						<!-- header nav -->
						<ul class="header__nav">
							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="header__nav-link" role="button"  aria-expanded="false" asp-controller="home" asp-action="index">@localizer["Home"]</a>
							</li>
						
							<!-- end dropdown -->
							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="header__nav-link" role="button" aria-expanded="false" asp-controller="catalog" asp-action="index">@localizer["Catalog"]</a>

								@* <ul class="dropdown-menu header__dropdown-menu">
									<li><a href="catalog.html">Catalog style 1</a></li>
									<li><a href="catalog2.html">Catalog style 2</a></li>
									<li><a href="details.html">Details Movie</a></li>
									<li><a href="details2.html">Details TV Series</a></li>
								</ul> *@
							</li>
							<!-- end dropdown -->

							<li class="header__nav-item">
								<a href="pricing.html" class="header__nav-link">Pricing plan</a>
							</li>

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="header__nav-link"  role="button" data-bs-toggle="dropdown" aria-expanded="false">Services <i class="ti ti-chevron-down"></i></a>

								<ul class="dropdown-menu header__dropdown-menu">
									<li><a asp-controller="about" asp-action="index">About Us</a></li>
									<li><a asp-controller="contact" asp-action="index">Contacts</a></li>
									<li><a asp-controller="helpcenter" asp-action="index">Help center</a></li>
									<li><a asp-controller="privacy" asp-action="index">Privacy policy</a></li>
								</ul>
							</li>
							<!-- end dropdown -->
							
						</ul>
						<!-- end header nav -->
						<!-- header auth -->
						<div class="header__auth">
							<form action="#" class="header__search">
								<input class="header__search-input" type="text" placeholder="Search...">
								<button class="header__search-button" type="button">
									<i class="ti ti-search"></i>
								</button>
								<button class="header__search-close" type="button">
									<i class="ti ti-x"></i>
								</button>
							</form>

							<button class="header__search-btn" type="button">
								<i class="ti ti-search"></i>
							</button>

							<!-- dropdown -->
							<div class="header__lang">
								<a class="header__nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">EN <i class="ti ti-chevron-down"></i></a>

								<ul class="dropdown-menu header__dropdown-menu">
									<li><a asp-controller="home" asp-action="changelanguage" asp-route-lang="en">English</a></li>
									<li><a asp-controller="home" asp-action="changelanguage" asp-route-lang="tr">Turkish</a></li>
									
								</ul>
							</div>
							<!-- end dropdown -->
							<!-- dropdown -->
							@if(User.Identity.IsAuthenticated){
								<div class="header__profile">
									<a class="header__sign-in header__sign-in--user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="ti ti-user"></i>
										<span>@User.Identity.Name</span>
									</a>

									<ul class="dropdown-menu dropdown-menu-end header__dropdown-menu header__dropdown-menu--user">
										<li><a asp-controller="profile" asp-action="index"><i class="ti ti-ghost"></i>Profile</a></li>
										<li><a asp-controller="account" asp-action="logout"><i class="ti ti-logout"></i>Logout</a></li>
									</ul>
								</div>
							}
							else{
								<ul>
									<li class="header__nav-item">
										<a class="header__nav-link header__nav-link--more" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account<i class="ti ti-chevron-down"></i></a>

										<ul class="dropdown-menu header__dropdown-menu">
											<li><a asp-controller="account" asp-action="login">Sign in</a></li>
											<li><a asp-controller="account" asp-action="register">Sign up</a></li>
										</ul>
									</li>
								</ul>

							}
							<!-- end dropdown -->
						</div>
						<!-- end header auth -->
						<!-- header menu btn -->
						<button class="header__btn" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- end header menu btn -->
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->
        @RenderBody()
	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__content">
						<a href="index.html" class="footer__logo">
							<img src="~/assets/img/logo.svg" alt="">
						</a>

						<span class="footer__copyright">© HOTFLIX, 2019—2024 <br> Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio" target="_blank">Dmitry Volkov</a></span>

						<nav class="footer__nav">
							<a href="about.html">About Us</a>
							<a href="contacts.html">Contacts</a>
							<a href="privacy.html">Privacy policy</a>
						</nav>

						<button class="footer__back" type="button">
							<i class="ti ti-arrow-narrow-up"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->
	<!-- plan modal -->
	<div class="modal fade" id="plan-modal" tabindex="-1" aria-labelledby="plan-modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal__content">
					<button class="modal__close" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>

					<form action="#" class="modal__form">
						<h4 class="modal__title">Select plan</h4>

						<div class="sign__group">
							<label for="fullname" class="sign__label">Name</label>
							<input id="fullname" type="text" name="name" class="sign__input" placeholder="Full name">
						</div>

						<div class="sign__group">
							<label for="email" class="sign__label">Email</label>
							<input id="email" type="text" name="email" class="sign__input" placeholder="example@domain.com">
						</div>

						<div class="sign__group">
							<label class="sign__label" for="value">Choose plan:</label>
							<select class="sign__select" name="value" id="value">
								<option value="35">Premium - $34.99</option>
								<option value="50">Cinematic - $49.99</option>
							</select>

							<span class="sign__text">You can spend money from your account on the renewal of the connected packages, or to order cars on our website.</span>
						</div>

						<div class="sign__group">
							<label class="sign__label">Payment method:</label>

							<ul class="sign__radio">
								<li>
									<input id="type1" type="radio" name="type" checked="">
									<label for="type1">Visa</label>
								</li>
								<li>
									<input id="type2" type="radio" name="type">
									<label for="type2">Mastercard</label>
								</li>
								<li>
									<input id="type3" type="radio" name="type">
									<label for="type3">Paypal</label>
								</li>
							</ul>
						</div>

						<button type="button" class="sign__btn sign__btn--modal">
							<span>Proceed</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end plan modal -->
	<!-- JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/splide.min.js"></script>
	<script src="~/assets/js/slimselect.min.js"></script>
	<script src="~/assets/js/smooth-scrollbar.js"></script>
	<script src="~/assets/js/plyr.min.js"></script>
	<script src="~/assets/js/photoswipe.min.js"></script>
	<script src="~/assets/js/photoswipe-ui-default.min.js"></script>
	<script src="~/assets/js/main.js"></script>
</body>
</html>
