@using HotFlix.Domain.Models
@model CreateMovieDto
<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Add Movie</h2>
				</div>
			</div>
			<!-- end main title -->
			<!-- form -->
			<div class="col-12">
				<form method="post" enctype="multipart/form-data" class="sign__form sign__form--add">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">
						<div class="col-12 col-xl-7">
							<div class="row">
								<div class="col-12">
									<div class="sign__group">
										<input asp-for="Name" class="sign__input" placeholder="Title">
										<span asp-validation-for="Name" class="text-danger"></span>
									</div>
								</div>

								<div class="col-12">
									<div class="sign__group">
										<textarea asp-for="Description" class="sign__textarea" placeholder="Description"></textarea>
										<span asp-validation-for="Description" class="text-danger"></span>
									</div>
								</div>

								<div class="col-12 col-md-6">
									<div class="sign__group">
										<div class="sign__gallery">
											<label asp-for="Image">Upload cover (240x340)</label>
											<input asp-for="Image" class="sign__gallery-upload">
											<span asp-validation-for="Image" class="text-danger"></span>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="col-12 col-xl-5">
							<div class="row">

								<div class="col-12">
									<div class="sign__group">
										<select class="sign__selectjs" id="sign__genre" asp-for="TagIds" asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))">
										</select>
										<span asp-validation-for="TagIds" class="text-danger"></span>
									</div>
								</div>

								<div class="col-12 col-md-6">
									<div class="sign__group">
										<input asp-for="RunningTime" class="sign__input" placeholder="Running time">
										<span asp-validation-for="RunningTime" class="text-danger"></span>
									</div>
								</div>

								<div class="col-12 col-md-6">
									<div class="sign__group">
										<input asp-for="Premiere" class="sign__input" placeholder="Premiere date">
										<span asp-validation-for="Premiere" class="text-danger"></span>
									</div>
								</div>

								<div class="col-12">
									<div class="sign__group">
										<select class="sign__selectjs" id="sign__country" asp-for="CountryId" asp-items="new SelectList(Model.Countries,nameof(Country.Id),nameof(Country.Name))">
											<option selected disabled>Choose Country</option>
										</select>
										<span asp-validation-for="CountryId" class="text-danger"></span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 col-xl-8">
							<div class="sign__group">
								<select class="sign__selectjs" id="sign__actors" asp-for="ActorIds" asp-items="new SelectList(Model.Actors,nameof(Actor.Id),nameof(Actor.FullName))">
                                 <option selected disabled value="">Choose Actors</option></>
								</select>
								<span asp-validation-for="ActorIds" class="text-danger"></span>
							</div>
						</div>

						<div class="col-12 col-md-6 col-xl-4">
							<div class="sign__group">
								<select class="sign__selectjs" id="sign__director"  asp-for="DirectorId" asp-items="new SelectList(Model.Directors,nameof(Director.Id),nameof(Director.FullName))">
									<option selected disabled>Choose Director</option>
								</select>
								<span asp-validation-for="DirectorId" class="text-danger"></span>
							</div>
						</div>

						<div class="col-12 col-md-6 col-xl-4">
							<div class="sign__group">
								<select class="sign__selectjs" id="sign__country" asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
									<option selected disabled value="">Choose Category</option>
								</select>
								<span asp-validation-for="CategoryId" class="text-danger"></span>
							</div>
						</div>

						<div class="col-12 col-md-6 col-xl-8">
							<div class="sign__group">
								<label asp-for="Rating" class="text-white"></label>
								<input asp-for="Rating" class="sign__input" placeholder="Rating">
								<span asp-validation-for="Rating" class="text-danger"></span>
							</div>
						</div>

						<!-- movie -->
						<div class="col-12">
							<div class="collapse show multi-collapse">
								<div class="sign__video">
									<label asp-for="TrailerUrl">Upload Trailer video</label>
									<input asp-for="TrailerUrl" class="sign__video-upload" >
									<span asp-validation-for="TrailerUrl" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="collapse show multi-collapse">
								<div class="sign__video">
									<label asp-for="VideoUrl">Upload Main video</label>
									<input asp-for="VideoUrl" class="sign__video-upload">
									<span asp-validation-for="VideoUrl" class="text-danger"></span>
								</div>
							</div>
						</div>
						<!-- end movie -->
					
						<div class="col-12">
							<button type="submit" class="sign__btn sign__btn--small"><span>Publish</span></button>
						</div>
					</div>
				</form>
			</div>
			<!-- end form -->
		</div>
	</div>
</main>
<!-- end main content -->
