
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>General settings</h2>
					</div>
				</div>
				<!-- end main title -->

				<!-- form -->
				<div class="col-12">
					<form action="#" class="sign__form sign__form--add">
						<div class="row">
							<div class="col-12">
								<h3 class="sign__title">Meta settings</h3>
							</div>

							<div class="col-12 col-lg-4">
								<div class="sign__group">
									<label class="sign__label" for="sitetitle">Title <b>*</b></label>
									<input type="text" class="sign__input" id="sitetitle" value="HotFlix – Online Movies, TV Shows & Cinema HTML Template">
								</div>
							</div>

							<div class="col-12 col-lg-4">
								<div class="sign__group">
									<label class="sign__label" for="semail">Email <b>*</b></label>
									<input type="text" class="sign__input" id="semail">
								</div>
							</div>

							<div class="col-12 col-lg-4">
								<div class="sign__group">
									<label class="sign__label" for="sphone">Phone</label>
									<input type="text" class="sign__input" id="sphone">
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									<label class="sign__label" for="description">Description</label>
									<textarea id="description" name="description" class="sign__textarea"></textarea>
								</div>
							</div>

							<div class="col-12">
								<button type="button" class="sign__btn sign__btn--small"><span>Save</span></button>
							</div>

							<div class="col-12">
								<h3 class="sign__title sign__title--mt">Home page</h3>
							</div>

							<div class="col-12 col-xl-4">
								<div class="sign__group">
									<label class="sign__label">Hero type:</label>
									<ul class="sign__radio">
										<li>
											<input id="hero1" type="radio" name="hero" checked="">
											<label for="hero1">Single carousel</label>
										</li>
										<li>
											<input id="hero2" type="radio" name="hero">
											<label for="hero2">Carousel + bg img</label>
										</li>
										<li>
											<input id="hero3" type="radio" name="hero">
											<label for="hero3">Hero carousel</label>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-12 col-xl-4">
								<div class="sign__group">
									<label class="sign__label">Content type:</label>
									<ul class="sign__radio">
										<li>
											<input id="content1" type="radio" name="content" checked="">
											<label for="content1">Tabs</label>
										</li>
										<li>
											<input id="content2" type="radio" name="content">
											<label for="content2">Pagination</label>
										</li>
										<li>
											<input id="content3" type="radio" name="content">
											<label for="content3">Load more</label>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-12 col-xl-4">
								<div class="sign__group sign__group--checkbox">
									<label class="sign__label">Sections:</label>
									<input id="premieres" name="premieres" type="checkbox" checked="checked">
									<label for="premieres">Show premieres</label>
								</div>

								<div class="sign__group sign__group--checkbox">
									<input id="subscriptions" name="subscriptions" type="checkbox" checked="checked">
									<label for="subscriptions">Show subscriptions</label>
								</div>
							</div>

							<div class="col-12">
								<button type="button" class="sign__btn sign__btn--small"><span>Save</span></button>
							</div>
						</div>
					</form>
				</div>
				<!-- end form -->
			</div>
		</div>
	</main>
	<!-- end main content -->

